@import "../../styles/global.scss";

.btn {
  cursor: pointer;
  display: flex;
  background-color: $info-color;
  height: 40px;
  width: 100%;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  justify-content: space-around;
  align-items: center;
  outline: 0;
  border: none;
  border-radius: 4px;
  &:active {
    transform: translate(-2px, -2px);
    // box-shadow: -2px -2px 10px -1px black;
  }
}
