@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.post {
  @include box-shadow;
  max-width: 940px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 635px 1fr;
  row-gap: 5px;
  grid-template-areas:
    "header author"
    "tags author"
    "description description"
    "text text";
  padding: 20px;
  background-color: #fff;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  & .title {
    font-size: 1.25rem;
    color: $info-color;
    margin: 0;
    height: 28px;
    overflow: hidden;
  }
  & .like {
    display: flex;
    min-width: 35px;
    font-size: 0.75rem;
    text-align: right;
    color: $text-color;
    margin-left: 12px;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
    // background: url("like.svg") left center/ 16px 14px no-repeat;
    & .favorited {
      stroke: red;
    }
  }
  & .link {
    overflow: hidden;
  }
}

.author {
  display: grid;
  grid-area: author;
  grid-template-areas: "name img" "date img" "btnDelete btnEdit";
  justify-items: end;
  align-content: center;

  & .img {
    grid-area: img;
  }
  & .name {
    grid-area: name;
    font-size: 1.25rem;
    color: $heading-color;
    overflow-wrap: anywhere;
  }
  & .date {
    grid-area: date;
    font-size: 0.75rem;
    color: $text-color-secondary;
  }
}

.tags {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;

  & .tag {
    // min-width: 40px;
    display: flex;
    align-items: center;
    max-width: 100px;
    overflow: hidden;
    padding: 0 5px;
    height: 20px;
    font-size: 0.75rem;
    color: $text-color-secondary;
    font-weight: 400;
    border: 1px solid $text-color-secondary;
    text-align: center;
    border-radius: 2px;
  }
}

.wrapperDescription {
  display: flex;
  grid-area: description;
}

.description {
  line-height: 22px;
  font-size: 0.75rem;
  color: $text-color;
  margin: 0;
  margin-top: 15px;
  overflow-wrap: anywhere;
  max-width: 680px;
}

.text {
  grid-area: text;
  font-size: 20px;
  color: $text-color;
  overflow-wrap: anywhere;
}

.btnDelete {
  width: 78px;
  height: 30px;
  border: 1px solid $error-color;
  color: $error-color;
  grid-area: btnDelete;
  margin-right: 12px;
}

.btnEdit {
  width: 65px;
  height: 30px;
  grid-area: btnEdit;
  border: 1px solid $success-color;
  color: $success-color;
}

.btnBlock {
  margin-left: auto;
}

.deleteBlock {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  box-sizing: border-box;
  width: 228px;
  height: 92px;
  font-size: 14px;
  font-weight: 400;
  background: url("./icon.svg") 5px 5px no-repeat;
  color: #595959;
}

.deleteText {
  margin: 0;
  margin-left: 40px;
  line-height: 22px;
}
